<!DOCTYPE HTML>
<html>
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
  var obj;
  $(document).ready(function() {
    $('textarea').blur(function () {
    var csv = $('textarea').val();
    csv = csv.split(',');
    obj = JSON.stringify(csv);
    });

  $("#send").click(function (e) {
    e.preventDefault();
    console.log('reached here!');
      $.ajax({
      url: "http://localhost/new_try/public/order",
      //crossDomain :true,
      contentType: "application/json",
      type: 'POST',
      data:obj,
      success:function(response)
      {
        $('textarea').remove();
        $('#send').remove();
        console.log(response);
        $("#result").html(response);
        console.log('i am here');
      }
      });
  });
});
</script>
</head>
<body>
    <textarea name="string" id="myfield" > </textarea>
    <input type="button" value="click"  id="send"/>
    <pre id="result"></pre>
</body>
</html>
