<!DOCTYPE HTML>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    var obj;
    $(document).ready(function() {
      $('textarea').blur(function () {
      var csv = $('textarea').val();
      csv = csv.split(',');
      obj = JSON.stringify(csv);
      });

    $("#send").click(function (e) {
      e.preventDefault();
      console.log('reached here!');
        $.ajax({
        url: "http://localhost/new_try/public/cancel-order",
        //dataType: "json",
        //crossDomain :true,
        contentType: "application/json",
        type: 'POST',
        data:obj,
        success:function (response)
        {
          var response = JSON.parse(response);
          alert(response);
          console.log(response);
        }
        });
    });
  });
</script>
</head>
<body>
    <input type="text" placeholder="enter your awb number" />
    <input list="reason" name="reason" placeholder="Cancellation Reason">
      <datalist id="reason">
          <option value="Cancelled By Customer">
          <option value="Incorrect/incomplete contact info">
          <option value="Payment Issue">
      </datalist>
    <input type="button" value="click"  id="send"/>
</body>
</html>
